:host {
  position: fixed;
}

:host([position="bottom-right"]) {
  bottom: 0;
  right: 0;
}

:host([position="bottom-left"]) {
  bottom: 0;
  left: 0;
}

:host([position="top-right"]) {
  bottom: 0;
  right: 0;
}

:host([position="top-left"]) {
  top: 0;
  left: 0;
}
